body{
    background-color:#E3D9CA;
    text-align:center;
}

.card{
    width:300px;
    height:350px;
    background-color:white;
    border-radius:20px;
    margin:50px 25px;
    display:inline-block;
    transition:2s;
    opacity:0.6;
    vertical-align:top;
}

.abalone{
    width:250px;
    height:200px;
    object-fit:cover;
    margin-top:25px;
    border-radius:15px;
    border:1px solid black;
}

.abalonecard{
    margin-top:15px;
}

.title{
    margin-top:15px;
}

.card:hover{
    opacity:1;
    transform:scale(1.1);
}